html, body{
	height: 100%;
   	width: 100%;
}
.container-fluid{
	height: 92%;
}
.row{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.col{
	margin: 0px;
	padding: 0px;
}

.navbar{
	background-color: #173d5b;
}
.sidebar-expanded{
	background-color: #2a618e;
	margin: 0;
}
#sidebar-container{
	background-color: #2a618e;
}
.list-group{
	margin: 0;
}
.list-group-item {
	background-color: #3779a5;
	color: #fbfbfb;
}

.text-help{
	color: #c2c6c4;
}